body {
    color: rgb(68, 68, 68);
    background: linear-gradient(30deg, rgb(77, 77, 77), rgb(58, 58, 58));
  }
  
  header {
    position: static;
  }
  
  header div#page-logo a {
    color: rgb(183, 230, 235);
  }
  
  header nav a {
    color: rgb(183, 230, 235);
  }
  
  header nav a:hover {
    background-color: rgb(183, 230, 235);
    color: rgb(59, 59, 59);
  }